@use 'variables' as *;

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-width: $max-screen-width;
  width: 100%;
}

.main {
  > div {
    align-items: center;
    display: flex;
    height: calc(100% - #{$header-height});
    justify-content: center;
    width: 100%;
  }
}
